.course-upload {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  flex: 1;

  label {
    font-weight: bold;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
  }

  button {
    padding: 0.5rem;
    margin-top: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
}
