.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  flex: 1;

  .loading {
    text-align: "center";
    font-size: "22px";
    font-weight: "bold";
  }
}
