* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .course-list {
    flex-direction: column;
    align-items: center;
  }

  .course-card {
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .course-card {
    width: 45%;
  }
}
